.formcontainer {
  max-width: 400px; /* ancho fijo centrado */
  padding: 20px;
  border-radius: 10px;
  background: #f8f8f8;
 }

.formcontainer h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.formgroup {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.formgroup input,
.formgroup textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #bbb;
  border-radius: 6px;
  outline: none;
}

.formgroup input:focus,
.formgroup textarea:focus {
  border-color: #e83702;
  box-shadow: 0 0 3px #f5f6f8;
}

.formgroup textarea {
  resize: vertical;
  min-height: 80px;
}

.errortext {
  margin-top: 4px;
  color: red;
  font-size: 14px;
}

.wrapboton {
  display: flex;
  gap: auto;
}
.formcontainer button {
  width: 100%;
  padding: 12px;
  margin:10px;
  background: #ad3733;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.formcontainer button:hover {
  background: darkred;
}
